
//==============Responsive================
$pc-media: 1024px;
$pad-media: 640px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
@mixin pad-width() {
    @media only screen and (min-width: $pad-media) {
        @content;
    }
}

.half-w{
	display: inline-block;
	vertical-align:middle;
	margin: 10px 0px;
	width: 100%;
	@include pad-width(){
		width: calc(50% - 20px);
		margin: 10px;
	}
}
.full-w{
	display: block;
	margin: 10px 0px;
	width: 100%;
}
//===================General======================
html, body { 
  height: 100%; margin: 0; padding: 0; 
  overflow: visible;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.center{
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.hide{
	display: none;
}

.warning{
	color: red;
}

.bold{
	font-weight: bold;
}

//===========================happy-living===============
.happy-living{
	overflow-x: hidden;
	overflow-y: auto;
	.topbar{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 70px;
		padding: 10px;
		box-shadow: 0px 2px 5px #888;
		background-color: white;
		z-index: 10;
		.logo{
			position: absolute;
			top: 10px;
			left: 20px;
			height: 50px;
			cursor: pointer;
		}
		.menu-bt{
			display: block;
			@include pad-width(){
				display: none;
			}
			position: absolute;
			top: 10px;
			right: 20px;
			height: 50px;
			cursor: pointer;
		}
		.bt-container{
			height: 100%;
			display: none;
			@include pad-width(){
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.bt{
				display: inline-block;
				width: 100px;
				padding: 5px 10px;
				margin: 5px 10px;
				text-align: center;
				color: #fff;
			    background-color: #fb8c00;
			    border-radius: 8px;
			    box-shadow: 0px 2px 4px 0px #888;
			    cursor: pointer;
			    &:hover{
			    	background-color: #ffaa33;
			    }
			}
		}
	}
	.menu-container{
		position: fixed;
		left: 0px;
		top: 70px;
		display: none;
		width: 100%;
		padding: 10px;
		margin: 0px;
		list-style-type: none;
		box-shadow: 0px 2px 4px 0px #888;
		background-color: white;
		font-size: 1.25em;
		color: #333333;
		z-index: 9;
		&.open{
			display: block;
		}
		li{
			padding: 10px;
			border-bottom: 1px solid #fb8c00;
			a{
				color: #333333;
				text-decoration: none;
			}
			&:last-of-type{
				border: none;
			}
		}
	}
	.main-container{
		width: 100%;
		margin: 100px auto 20px auto;
		padding: 10px 10px 50px 10px;
		color: #333333;

		.scroll-option{
			margin: 20px auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			.scroll-bt{
				display: inline-block;
				width: 150px;
				font-size: 1.2em;
				padding: 10px;
				margin: 5px 10px;
				text-align: center;
				color: #fff;
			    background-color: #fb8c00;
			    border-radius: 8px;
			    box-shadow: 0px 2px 4px 0px #888;
			    cursor: pointer;
			    &:hover{
			    	background-color: #ffaa33;
			    }
			}
		}

		.indent{
			text-indent: 2em;
		}
		.center-p{
			width: 800px;
			max-width: 100%;
			margin: auto;
			padding: 10px;
			font-size: 1.25em;
			line-height: 1.5em;
			ul{
				li{
					font-weight: bold;
					padding-left: 10px;
				}
			}
			
			.desc{
				font-weight: normal;
				color: #333333;
				margin-bottom: 20px;
				font-size: 0.9em;
			}
		}

		a{
			text-decoration: none;
			color: #fb8c00;
			&:hover{
				color: #ff3300;
			}
		}
		.category{
			display: inline-block;
			min-width: 200px;
			max-width: 100%;
			margin: 20px auto;
			padding: 20px 10px 20px 10px;
			text-align: center;
			font-size: 1.5em;
			font-weight: bold;
			color: #333333;
			border-bottom: 1px solid #fb8c00;
		}
		.quest-need{
			text-align: center;
			font-size: 1.25em;
			color: #333333;
		}
		.quest-risk{
			width: 100%;
			margin: 0px 5px;
			padding: 5px;
			text-align: center;
			font-size: 1.25em;
			color: #333333;
		}
		.quest-solution{
			width: 100%;
			margin: 0px 5px;
			padding: 5px;
			text-align: center;
			font-size: 1.25em;
			color: #333333;
		}
		.ans-container{
			display: flex;
			justify-content: space-around;
			align-content: flex-start;
			flex-wrap: wrap;
			width: 600px;
			max-width: 100%;
			margin: 10px auto;
			
			.quest-icon{
				vertical-align: middle;
				width: 50px;
			}
			.ans-need{
				font-size: 1.25em;
				cursor: pointer;
				width: calc(100% - 10px);
				margin: 5px auto;
				padding: 5px 10px;
				background-color: white;
				box-shadow: 0px 11px 49px 2px rgba(51, 17, 33, 0.14);
				border-radius: 3px;
				&.selected{
					border: 1px solid red;
				}
			}
			.risk-container{
				width: 100%;
				border-bottom: 1px solid #fb8c00;
			}
			.ans-risk{
				border-radius: 3px;
				width: 100%;
				img{
					display: inline-block;
					margin: 0px 5px;
					vertical-align: top;
				}
				.risk-text{
					display: inline-block;
					width: calc(100% - 70px);
				}
				.risk-box{
					font-size: 1.25em;
					cursor: pointer;
					width: calc(100% - 10px);
					margin: 5px auto;
					padding: 10px;
					border-left: 5px solid #fb8c00;
					box-shadow: 0px 11px 49px 2px rgba(51, 17, 33, 0.14);
					&.selected{
						border: 1px solid #fb8c00;
					}
				}
			}
		}
		
		.analysis-option{
			margin: 20px auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			.analysis-bt{
				display: inline-block;
				width: 200px;
				font-size: 1.5em;
				padding: 10px;
				margin: 5px 10px;
				text-align: center;
				color: #fff;
			    background-color: #fb8c00;
			    border-radius: 8px;
			    box-shadow: 0px 2px 4px 0px #888;
			    cursor: pointer;
			    &:hover{
			    	background-color: #ffaa33;
			    }
			}
		}
		.remark{
			width: 600px;
			max-width: 100%;
			margin: 30px auto;
			font-size: 0.9em;
		}
		.logo-container{
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			.sponsor{
				margin: 10px;
				height: 100px;
			}
		}
		.dev{
			cursor: pointer;
			width: 200px;
		}

		.table-container{
			margin: auto;
			width: 800px;
			max-width: 100%;
			overflow: auto;
			table{
		        border-collapse: collapse;
		        vertical-align: top;
		        width: 100%;
		        font-size: 1.2em;
		        text-align: center;
		        color: #333333;
		        caption{
		            padding: 5px;
		        }
		        th{
		            padding: 10px;
		            background-color: #e97a15;
		            border: 1px solid #ffffff;
		            color: #ffffff;
		        }
		        tr:nth-child(even) {
		            background-color: #f6d6cc;
		        }
		        tr:nth-child(odd) {
		            background-color: #faebe7;
		        }
		        td{
		        	padding: 10px;
		        	border: 1px solid #ffffff;
		        }
		    }
		}

		.sub-title{
			font-size: 1.2em;
			color: #000000;
			background-color: #53b7af;
			padding: 10px;
			font-weight: bold;
		}
		.interview-img{
			vertical-align: middle;
			margin: 30px 10px;
			width: 350px;
			max-width: calc(100% - 20px);
			object-fit: cover;
		}

		.quest-block{
			vertical-align: middle;
			display: inline-block;
			width: 350px;
			max-width: 100%;
			padding: 10px;
			margin: 10px;
			text-align: left;
			.quest1{
				color: #e97a15;
				font-weight: bold;
			}
			.quest2{
				color: #000000;
				font-weight: bold;
			}
			.quest3{
				color: #000000;
				font-weight: normal;
			}
		}
		.list-item{
			font-size: 1.5em;
		}
		.decoration{
			font-size: 0.6em;
			vertical-align: middle;
			padding-right: 20px;
		}
	}
}

.analysis-container{
	width: 100%;
	margin: 100px auto 20px auto;
	padding: 10px 0px 50px 0px;
	color: #333333;
}

.horizontal-switch{
	position: relative;
	left: 0px;
	width: 100%;
	overflow-x: visible;
	-webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
	.full-width-item{
		width: 100%;
		padding: 10px;
	}
	.back-bt{
		display: inline-block;
		width: 100px;
		margin: 10px;
		font-size: 1em;
		padding: 5px;
		text-align: center;
		color: #fff;
		background-color: #fb8c00;
		border-radius: 40px 2px 2px 0px;
		box-shadow: 0px 2px 4px 0px #888;
		cursor: pointer;
		&:hover{
			background-color: #ffaa33;
		}
	}
}

.graph-container{
	width: 1366px;
	max-width: 100%;
	margin: auto;

	.info-graph{
		position: relative;
		padding: 10px;
		select{
			border-radius: 3px;
			padding: 5px 10px;
			margin: 5px;
		}
	}
	.graph-title{
		margin: 5px;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}
	.switch-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.switch-bt{
			background-color: rgb(50,50,50);
			padding: 5px 10px;
			color: white;
			margin: 5px;
			cursor: pointer;
			&:hover{
				color: #FFAA0D;
			}
			&.selected{
				color: #FFAA0D;
				border: 1px solid #FFAA0D;
			}
		}
	}
	.option-container{
		vertical-align: top;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.option-bt{
			background-color: rgb(220,190,220);
			padding: 5px 10px;
			color: rgb(50,50,50);
			margin: 5px 2px;
			cursor: pointer;
			border-radius: 3px;
			&:hover{
				color: red;
			}
			&.selected{
				background-color: rgb(150,120,150);
				color: white;
			}
		}
	}
	svg{
		display: block;
		max-width: 800px;
		margin: auto;
		width: 100%;
		height: 300px;
	}
	.option-panel{
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(50,50,50,0.8);
		padding: 40px;
		color: white;
		.bt-container{
			position: absolute;
			bottom: 10px;
			right: 10px;
			.bt{
				display: inline-block;
				width: 80px;
				padding: 5px 10px;
				margin: 5px;
				text-align: center;
				color: #fff;
			    background-color: #fb8c00;
			    border-radius: 3px;
			    cursor: pointer;
			    &:hover{
			    	background-color: #ffaa33;
			    }
			}
		}
		
		&.open{
			display: block;
		}
		.label{
			display: inline-block;
		}
		select{
			padding: 5px;
			margin: 5px;
		}
		.title{
			font-size: 1.2em;
			text-align: center;
		}
	}
	.panel-bt{
		padding: 5px 10px;
		margin: 10px auto;
		width: 60px;
		text-align: center;
		color: #fff;
	    background-color: #fb8c00;
	    border-radius: 3px;
	    box-shadow: 0px 2px 4px 0px #888;
	    cursor: pointer;
	    &:hover{
	    	background-color: #ffaa33;
	    }
	}
	.rank-title{
		text-align: center;
		font-size: 1.5em;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #cccccc;
	}
	.rank-table{
		width: 900px;
		margin: auto;
		padding-bottom: 20px;
		max-width: 100%;

		.rank-row{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			wrap: nowrap;
			cursor: pointer;
			&:hover{
				border: 2px solid #a1e0e5;
			}

			.rank-bar{
				width: calc(100% - 80px);
				.bar-name{
					padding: 10px 0px;
					font-size: 1.2em;
				}
				.bar{
					width: 100%;
					padding: 5px 10px;
					color: #333333;
					white-space: nowrap;
					background-color: #ffaa33;
				}
				padding: 10px;
			}
			.rank-icon{
				width: 80px;
				img{
					width: 100%;
				}
			}
		}
		
	}
	.padding-bottom{
		width: 100%;
		padding: 0px 0px 70px 0px;
	}
}

.control-bar{
	background-color: rgba(150,150,150,0.9);
	color: rgb(0,0,0);
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 10px;
	border-radius: 3px 3px 0px 0px;
	//border-top: 1px solid rgb(200,200,200);
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	display: flex;
	justify-content: flex-start;
	&.minimize{
		height: 60px;
	}
	.minimize-bt{
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 1.5em;
		cursor: pointer;
		color: white;
		&:hover{
			color: yellow;
		}
	}
	.option-container{
		padding: 0px 10px;
	}
	@include pc-width(){
		justify-content: center;
	}
	.label{
		display: inline-block;
		padding: 10px 5px 10px 15px;
	}
	select{
		padding: 5px;
		border-radius: 5px;
	}
	input[type="text"]{
		width: 100px;
		padding: 5px;
	}
	input[type="number"]{
		width: 50px;
		padding: 5px;
	}
}